@import './home/style';
@import './home/homePage';
@import './home/homePageFirst';
@import './home/homePageTeam';
@import './home/homePageOutdor';
@import './home/homePageProjects';
@import './home/homePageWhy';
@import './home/homePageGallery';
@import './home/homePageProcess';
@import './home/homePageSpring';
@import './home/homePageManufacture';
@import './home/homePageOptions';
@import './home/homePageReview';
@import './home/homePageBlog';
@import './home/homePageFaq';

.loader {
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #006083;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    &__top {
        font-size: 0.875em;
        font-weight: 600;
        line-height: 1.4;
        text-transform: uppercase;
    }
    &__percent {
        font-family: Gallient;
        font-size: 3.4375em;
        font-weight: 400;
        line-height: 1.6;
        text-transform: uppercase;
    }

    &__img {
        margin: 3.5625em 0 3em;
        width: 20.1875em;
    }

    &__el {
        position: relative;
        width: 100px;
        height: 16px;
        &:before,
        &:after {
            content: '';
            position: absolute;
            width: 1em;
            height: 1em;
            border-radius: 50%;
            background: #006083;
            box-shadow: 2em 0 #006083;
            left: 0;
            top: 0;
            animation: ballMoveX 1s linear infinite;
        }
        &:after {
            box-shadow: none;
            transform-origin: 2.5em 0;
            transform: rotate(-153deg);
            animation: rotateLoader 1s linear infinite;
        }
    }
}

@keyframes rotateLoader {
    0%,
    10% {
        transform: rotate(-153deg);
    }
    90%,
    100% {
        transform: rotate(0deg);
    }
}
@keyframes ballMoveX {
    0%,
    10% {
        transform: translateX(0);
    }
    90%,
    100% {
        transform: translateX(2em);
    }
}
