.homePageFirst {
    background: #006083;
    color: #fff;
    overflow: hidden;

    @media (min-width: 768px) {
        width: calc(100vw + 60em);
        display: flex;
        position: relative;
        padding-left: 31em;
    }

    &.section {
        @media (max-width: 767px) {
            padding: 2.5em 0 0;
        }
    }

    .section__title {
        font-size: 1.75em;
        max-width: 9.3em;

        @media (min-width: 768px) {
            font-size: 4.4em;
            width: 12.75em;
        }
    }

    &__content {
        padding: 0 1.2em;

        @media (min-width: 768px) {
            padding: 0 0 0 10.2em;
            // flex-grow: 1;
            flex: none;
            // width: 92em;
            width: 76vw;
            min-width: 0;
            display: flex;
            flex-direction: column;
        }
    }

    &__image {
        margin-top: -4.2em;
        width: 100%;
        height: 26em;

        @media (min-width: 768px) {
            z-index: 5;
            flex: none;
            width: 91em;
            height: inherit;
            margin-top: 0;
            // position: absolute;
            // top: 0;
            // right: 0;
            // bottom: 0;
        }

        img {
            display: block;
            object-fit: cover;
            width: 100%;
            height: 100%;
            max-width: none;

            @media (min-width: 768px) {
                object-position: left center;
                // object-position: right center;
            }
        }
    }

    &__top {
        @media (min-width: 768px) {
            padding: 4.3em 0;
            display: flex;
        }
    }
    &__bottom {
        @media (min-width: 768px) {
            padding: 2.9em 0;
            display: flex;
            align-items: flex-end;
        }
    }

    &__left {
        @media (min-width: 768px) {
            flex: none;
            width: 56em;
            overflow: hidden;
        }
    }

    &__right {
        @media (min-width: 768px) {
            flex: none;
            width: 18.2em;
            padding-left: 0.35em;
            overflow: hidden;

            .homePageFirst__contact {
                min-width: 18.2em;
            }
        }
    }

    &__soc {
        display: none;

        @media (min-width: 768px) {
            display: block;

            .menu {
                padding: 0;
                margin: 0;
                display: flex;
                gap: 0.875em;
                list-style: none;

                .menu-item {
                    a {
                        width: 4.125em;
                        height: 4.125em;
                        border-radius: 50%;
                        color: #fff;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border: 1px solid;
                        text-decoration: none;
                        transition: 0.7s;
                        transition-property: color, background;

                        &:hover {
                            background: #fff;
                            color: #006083;
                        }
                        i {
                            font-size: 1.5em;
                            margin: 0;
                        }
                        span {
                            display: none;
                        }
                    }
                }
                .menu-item-96,
                .menu-item-97 {
                    @media (min-width: 768px) {
                        display: none;
                    }
                }
            }
        }
    }

    &__contact {
        display: none;

        @media (min-width: 768px) {
            display: block;
            font-size: 1.1em;
            line-height: 1.4;
            text-transform: uppercase;
            width: 25em;

            b {
                font-style: italic;
            }

            a {
                color: inherit;
                text-decoration: none;
                text-decoration: underline;
            }
        }
    }

    &__middle {
        position: relative;
        z-index: 1;

        @media (min-width: 768px) {
            flex-grow: 1;
            min-height: 0;
            display: flex;
            align-items: center;
        }
    }

    &__actions {
        @media (min-width: 768px) {
            margin-bottom: 1.875em;
            width: 18.2em;
        }
    }

    &__text {
        margin: 1.5em 0;
        font-weight: 500;
        text-transform: uppercase;
        line-height: 1.4;
        max-width: 17em;

        @media (min-width: 768px) {
            font-weight: 600;
            font-size: 1.3em;
            max-width: 12em;
        }
    }
}
